html {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 18px;
}

body {
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* Main Image & Header */

.mainimage {
  height: 31rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  top: 1rem;
  background-color: cadetblue;
}

.companylogo {
  display: flex;
  align-items: center;

  padding: 1rem 1rem 1rem 2rem;
  color: white;
}

.companylogo img {
  height: 1.5rem;
  padding-right: 1rem;
}

ul {
  display: flex;
  justify-content: space-between;

  color: white;
  padding-right: 1rem;
}

li {
  padding: 0 1rem;
}

.mobile-navbar {
  display: none;
}

.mainimage .container .flex { /* This is required so that 'align-self: flex-end;' can be used on '.headline' to ensure that it aligns with the right-hand edge of the container. */
  flex-direction: column;
}

.headline {
  position: relative;
  top: 11rem;
  right: -2rem;
  padding: 1.5rem 5rem;
  align-self: flex-end;

  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* Services */

.services .container {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  width: 5rem;
  height: 8rem;
}

.service span {
  text-align: center;
}

.landscape {
  width: 5rem;
}

.portrait {
  width: 3.5rem;
}

/* Company Info */

.companyinfo .container {
  justify-content: center;
  padding-bottom: 5rem;
}

.item {
  width: 35%;
  margin: 0 2.5%;
}

.item h2 {
  width: 10rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
}

.item p {
  margin-top: 1rem;
}

/* Footer */

footer .container {
  background-color: azure;
  padding: 4rem;

  align-items: center;
}

footer img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* Media Queries */

@media only screen and (max-width: 1024px) {
  /* Site container spans full-width */
  .container { max-width: 100%; }

  /* Titlebar snaps to top of screen */
  .titlebar { top: 0; }

  /* Reduce height of main image */
  .mainimage { height: 22rem; }

  /* Adjust position and dimensions of headline */
  .headline {
    top: 5rem;
    right: 2rem;
    padding: 1.5rem 4rem;
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 641px) {
  /* Remove text from companylogo */
  .companylogo span {
    display: none;
  }

  /* Adjust background image position */
  .mainimage {
    background-position: 20%;
  }

  /* Reduce height of main image */
  .mainimage { height: 17rem; }

  /* Adjust position and dimensions of headline */
  .headline {
    top: 9rem;
    right: 0;
    padding: 1rem 0;
    font-size: 1rem;
    width: 100%;
    text-align: center;
  }

  /* Replace navbar with mobile-navbar */
  .navbar {
    display: none;
  }

  .mobile-navbar {
    display: inline-block;
  }

  /* Position services items */
  .services .container {
    flex-direction: column;
    align-items: center;
  }

  .service {
    font-size: 0.77rem;
    margin: 1.54rem 0;
    height: auto;
  }

  .service span {
    margin-top: 1rem;
  }

  /* Company info span 100% screen width */
  .companyinfo .container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }

  .item {
    width: 100%;
    margin-bottom: 4rem;
  }

  .companyinfo h2 {
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
  }

  .companyinfo p {
    padding: 0 0.5rem;
    font-size: 0.77rem;
  }

  /* Remove copyright text in footer */
  footer span {
    display: none;
  }

  /* Center image in footer */
  footer .flex {
    justify-content: center;
  }
}
